
@mixin textHead($est,$size){
	font-family: Arial;
	color:rgba(255, 255, 255,$est);
	font:{
		size:$size;
		weight:550; 
	}

}
$black:#000000;
$grey:#3a3a43;
$yellow:#ffcc00;



.header_top {
	background-color: $black;
	#left_nav ul li{	&:first-child a {
		@include textHead(1,13px);	
	}		
}
ul li{
	display: inline-block;
	padding-right: 8px;
	padding-top:5px; 
	a {
		@include textHead(0.8,13px);
		&:hover {
			@include textHead(1,13px);
			text-decoration: none;

		}

	} 
}
}
.header_bottom {
	background-color: $grey;

	nav #special:before{
		content:"*";
		background: url(http://static.gdeetotdom.ru/skin/ged6/img/ico/header-icons.png);
		background-repeat: no-repeat;
		padding:	15px 0 0 18px;
		background-position: 0 100%;
		background-size: 100px;
	}

	.logo img{
		width: 100%;
		padding-left: 50px;
		padding-bottom: 10px;
		padding-top:10px;
	}

	#bottom_nav {
		ul {
			margin-bottom: 0;
			li {
				display:inline-block;
				padding-bottom: 15px;
				padding-top:15px;  
				padding-right:10px;
				padding-left:10px;
				&:nth-child(4) {
					border-bottom: 2px solid $yellow;

					a{
						color:$yellow;
					}
				}
				&:nth-child(3) {
					a {
						color:#ff7d41;
					}
				} 
				&:hover {
					border-bottom: 2px solid $yellow;
				}
				&:hover a {
					color:$yellow;
				}
				a{
					text-decoration:none;
					@include textHead(1,16px);
					font-weight: 500;
				}
			}
		}
		.Logotype {
			fill: #fff;
			&:hover {
				fill:#559cce;
			}
		}
	}
}

main {
	.content {
		margin-top: 30px;
		background:#ebebed;
		border: 1px solid #ccc;
		margin-left: 40px;
		nav { 
			margin-top:10px;
			ul li{
				list-style: none;
				display:inline;
			}
		}
	}
	.content_top {
		#date {
			background-color:#ff5f47;
			color:#fff;
			padding:5px 10px;
			border-radius: 2px;
			cursor: pointer;
			&:hover {
				text-decoration:none;
			}
		}
		.top_right {

			h4 {
				font-weight:600;
				margin-left:15%;
			}
			ul {

				background-color:$grey;
				width:125px;
				padding: 0;
				text-align: center;
				border-radius:2px;
				li {
					display:inline;
					list-style:none;
					color:$yellow;
					font-size: 18px;
					line-height: 2;
					padding-right:4px;
					padding-left:4px;

				}
			}
		}
	}
.block_top {
	margin-top:40px;
	margin-bottom:40px;
	 .back img {
	 	width:100%;

	 }
	 p {
	 	&:nth-child(2) {
	 		margin-top:20px;
	 	}
	 }
	 a {
	 	margin-left:20px;
	 	text-decoration:none;
	 	background-color:#62c741;
	 	color:#fff;
	 	padding:10px 10px;
	 	border-radius:3px;
	 	font-weight:600;
	 }
}


	.side	{
		background:#ebebed;
		width:250px;
		float: right;
		border: 1px solid #ccc;
		padding-bottom:100%;
	}
}
